body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #fbf6f0;
}

.container > h1 {
	text-align: center;
	white-space: nowrap;
	margin-bottom: 3rem;
}

main {
	margin: 0 auto;
}

.candidate {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	gap: 1rem;
	width: min(90%, 400px);
	margin: 1rem auto;
	background-color: #ffda77;
	border: 2px solid #cdcdcd;
	border-radius: 5px;
}

.votes {
	text-align: center;
}

.candidate span {
	width: 33.3%;
	font-size: 1.5rem;
}

.candidate h1 {
	width: 33.3%;
	justify-self: self-start;
}

.candidate button {
	justify-self: center;
	cursor: pointer;
	border: none;
	background-color: #ffa45b;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 15px;
	padding: 0.25rem 0.5rem;
}
