@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Domine", serif; }

body > h1 {
  text-align: center;
  margin: 3rem 0;
  font-weight: 700; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  max-width: 800px;
  margin: 1rem auto; }
  header button {
    box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
    background-color: #637aad;
    border: 1px solid #314179;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    margin: 1rem;
    width: 50%;
    outline: none; }
    header button:hover {
      background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
      background-color: #5972a7; }
    header button:active {
      position: relative;
      top: 1px; }
  header button.switch {
    width: 50px; }
  header input, header select {
    width: 100px;
    height: 30px;
    font-size: 15px; }
  header select {
    width: 150px; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main h2 {
    margin-bottom: 0.5rem;
    font-weight: 400; }
