@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container {
  width: 1000px;
  margin: 3rem auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

header h1 {
  margin-right: 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  -ms-flex-item-align: beseline;
      -ms-grid-row-align: beseline;
      align-self: beseline;
}

header button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  font-size: 18px;
  background-color: turquoise;
  outline: none;
  cursor: pointer;
}

main {
  height: 650px;
  margin: 3rem auto;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px 5px #bfbfbf;
          box-shadow: 0px 0px 20px 5px #bfbfbf;
}

main figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 650px;
}

main figure blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5rem;
}

main figure blockquote p.quote {
  position: relative;
  font-family: "Amiri", serif;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 4rem;
}

main figure blockquote p.quote::before {
  content: open-quote;
  font-size: 100px;
  position: absolute;
  top: -15%;
  left: 45%;
}

main figure blockquote figcaption {
  font-size: 15px;
  color: steelblue;
}

main figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 500px;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header h1,
  header button {
    margin: 0;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
  header button {
    margin-top: 1rem;
  }
  main {
    width: 100%;
  }
  main figure {
    display: block;
    position: relative;
    height: 100%;
  }
  main figure blockquote {
    height: 100%;
  }
  main figure img {
    position: absolute;
    top: 0;
    z-index: -1;
    -webkit-filter: opacity(40%);
            filter: opacity(40%);
  }
}
