// dark colour
$red: rgb(249, 65, 68);
$orange: rgb(243, 114, 44);
$darkgreen: rgb(67, 170, 139);
$grey: rgb(87, 117, 144);

// light colour
$tangerine: rgb(248, 150, 30);
$yellow: rgb(249, 199, 79);
$green: rgb(144, 190, 109);




