/* color
$header-color: #B4B4B4;
$sunny-bg-color: #FFCACA;
$cloud-bg-color: #07805D;
$rainy-bg-color: #0D60F2;
$thunder-bg-color: #000000;
$snow-bg-color: #02DAFF; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --backgroundColor: #FFCACA;
  --headerColor: #B4B4B4;
  --textColor: #fff;
}


* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  width: 360px;
  margin: 10px auto;
  color: var(--textColor);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./image/sunny.png);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: 60px 85px;
  align-self: center;
}

header {
  color: var(--headerColor);
  position: relative;
}

header input {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--backgroundColor);
  border: 1px solid var(--headerColor);
  padding: 5px;
  color: var(--textColor);
  font-weight: 900;
  text-align: center;
  outline: none;
  position: inherit;
  z-index: 2;
}

header input::placeholder {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--headerColor);
}

header input:focus {
  color: #fff;
  font-weight: bold;
}

header i {
  cursor: pointer;
}

.suggestion {
  color: var(--textColor);
  background-color: var(--backgroundColor);
  border: 1px solid var(--headerColor);
  border-top: none;
  text-align: center;
  width: 200px;
  position: absolute;
  top: 15px;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  display: none;
  list-style-type: none;
}

.suggestion li {
  padding: 0.25rem 0;
}

.suggestion li:first-of-type {
  padding-top: 1.4rem;
}

.suggestion li:last-of-type {
  padding-bottom: 0.7rem;
}

.show {
  display: block;
}

.inputStyleToggle {
  border-bottom: 1px dashed var(--headerColor);
  border-radius: 20px 20px 0 0;
}

.hl {
  background: #ffc600;
}

/* section top*/
section {
  width: 305px;
  margin-top: 1.5rem;
}

.sectionTop {
  position: relative;
  height: 400px;
}

.date {
  font-size: 18px;
  margin-bottom: 2rem;
}

.location, .weatherMain, .weatherDescription {
  text-align: center;
  margin: 0.5rem auto;
}

.location {
  font-size: 35px;
}

.weatherMain {
  font-size: 50px;
}

.weatherDescription {
  font-size: 20px;
  margin: 0.5rem auto;
}

/* section bottom*/
.temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -0.5rem;
}

hr {
  border: none;
  height: 1px;
  margin-top: 5px;
  background-color: var(--textColor);
}

.temp > h1 {
  font-size: 50px;
}

.minmax > p {
  font-size: 18px;
  margin: 5px 0;
}

.restItems {
  width: 50%;
  margin: 5px 0;
  border-spacing: 10px;
}


