#tutorial{
    padding-top: 60px;
    }

@media all and (max-width: 540px) {
    #tutorial {
        padding-top: 120px;
    }
}

#tutorial1{
    border-style: solid;
    border-radius: 10px;
    padding: 15px;
    color: #968E85;
}

#selectors{
 
}
#selectors h4{
    text-align: center;
    font-family: monospace;
    color: #C1D7AE;
    font-size: 2.5vw;
    margin: 0 35%;
    padding: 2%;
    border: solid;
    border-radius: 10px;
    background-color: #968E85;
}

#selectors p{
    text-align: left;
    width: 100%;
    font-family: monospace;
    color: #968E85;
    font-size: 1.8vw;
    font-weight: bold;
}

#tutorial1 table, td{
    border-style: solid;
    border-radius: 10px;
    color: #968E85;
    border-collapse: collapse;
    margin: auto;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

@media only screen and (max-width: 550px) {
    /* horizontal scrollbar for tables if mobile screen */
    #tutorial1 table {
        overflow-x: auto;
        display: block;
    }
}

#selectors a{
    text-decoration: none;
    display: block;
    margin: 10px 40%;
    padding: 10px;
    text-align: center;
    font-family: monospace;
    color: #968E85;
    font-size: 1.8vw;
    font-weight: bold;
    background-color: #8CC084;
    border-radius: 10px;
}

#selectors a:hover{
    color: #C1D7AE;
}

#animations{
    border-style: solid;
    border-radius: 10px;
    margin: 20px 0;
    padding: 15px;
    color: #968E85;
}
#animations h4{
    text-align: center;
    font-family: monospace;
    color: #C1D7AE;
    font-size: 2.5vw;
    margin: 0 35%;
    padding: 2%;
    border: solid;
    border-radius: 10px;
    background-color: #968E85;
}

#animations p{
    text-align: left;
    width: 100%;
    font-family: monospace;
    color: #968E85;
    font-size: 1.8vw;
    font-weight: bold;
}

#test{
    display: block;
    margin: 20px 40%;
    padding: 10px;
    text-align: center;
    font-family: monospace;
    color: #968E85;
    font-size: 1.8vw;
    font-weight: bold;
    background-color: #8CC084;
    border-radius: 10px; 
}

#test:hover{
    animation-name: move;
    animation-duration: 6s;
}

@keyframes move {
  from {background-color: #f8edeb; transform: translateX(100px);}
  to {background-color: aquamarine; transform: translateX(500px;)}
}

#anitestmain{
    background-color: #8CC084;
    border-radius: 10px;
    padding: 1px;
}

@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    #anitestmain {
        overflow-x: auto;
        display: block;
    }
}

#anitest1{
    margin: 10px;
}

#anitest2{
    margin: 10px;
}

#anitest span{
    display: block;
}

#animations a{
    text-decoration: none;
    display: block;
    margin: 10px 40%;
    padding: 10px;
    text-align: center;
    font-family: monospace;
    color: #968E85;
    font-size: 1.8vw;
    font-weight: bold;
    background-color: #8CC084;
    border-radius: 10px;
}

#animations a:hover{
    color: #C1D7AE;
}