/* Kaho - afternoon */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

div.navbar {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: #a773c3;
  max-width: 1000px;
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
  border: 2px solid rebeccapurple;
  z-index: 1;
}

.navbar > button {
  padding: 5px 30px;
  background-color: #ffa1c5;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.navbar > button:hover {
  background-color: hsl(337, 100%, 90%);
  transition: background-color 0.7s ease;
}

div.teamSection {
  
  background-color: rgba(167, 115, 195, 0.5);
  width: 100%;
  height: 100%;
  padding: 10px; 
  border: 2px solid rebeccapurple;
  margin-bottom: 30px;
}

div.teamSection:first-of-type {
  position: relative;
  top: 60px;
}


.teamSection > h1 {
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

div.teamBoard {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffa1c5;
  width: 98%;
  padding: 10px 0;
  margin: 10px auto;
  border: 2px solid salmon;

}

div.member {
  background-color: #ffc6be;
  width: 23%;
  margin: 0 auto;
  border: 2px solid salmon;
}

.member > img {
  display: block;
  width: 80%;
  /* for check its size */
  border: 5px solid rebeccapurple; 
  margin: 10px auto;
  border-radius: 50%;
}

.member > a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.member > p {
  text-align: justify;
  padding: 0 15px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: salmon #ffc6be;
  height: 300px;
}